<h1>People</h1>


  <%=link_to "Create new Person", new_person_path%>


<% @people.each do |person|%>
  <h2><%=person.full_name%> </h2>
  <%= link_to "Show details", person_path(person)%>
  <%= link_to "Edit Person", edit_person_path(person)%>
  <%= link_to "Delete Person", person_path(person), method: :delete%>
  
<%end%>

