<h1>Details</h1>

<h2>Name: <%= @person.full_name%> </h2>
<h2>Age: <%= @person.age%> </h2>
<h2>Hair Color: <%= @person.hair_color%> </h2>
<h2>Eye Color: <%= @person.eye_color%> </h2>
<h2>Gender: <%= @person.gender%> </h2>
<h2>living: <%= @person.alive%> </h2>

  <%=link_to "Main Page", root_path	%>






